<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/app.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
</head>
<body>
  <div class="main-content">  
    {{>header}} 
    <img class= "portrait" src="/img/robot.png" alt="">
    <p id=about"">Hello,  
<br>
This is designed and developed to learning purpose, kindly suggest me if any changes are needed. 
<br>
My self puneeth a passionated developer </p>
    Thanks!!!</div>
{{>footer}}
</body>
</html>